<!doctype html>
<html lang="en">
    <head>
        <script data-ad-client="ca-pub-5253000845981768" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-158084303-1');
        </script>
        
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- feathericons -->
        <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Favicons -->
        <link rel="shortcut icon" href="./static/img/favicon.ico">
        <!-- animation -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
        <!-- owlCarousel2 -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
        <!-- jQuery -->
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>

        <title>WITHME</title>

        <style>
            html, body{
                background-color: #f5f5f5;
            }
            .upText {
                border-color: #15B7B9;
                background-color: #15B7B9;
                color:white;
            }
            .upText:hover{
                color:white;
                background-color: #15B7B9;
                border-color: #15B7B9;
            }
            .upText:active{
                background-color: #15B7B9!important;
                border-color: #15B7B9!important;
            }
            .ptr--ptr{
                box-shadow: none!important;
            }
            .row {
                display: table;
                height:20%;
                width: 100%;
                margin: 0;
            }
            .no-padding {
                padding: 0 !important;
            }
            .owl-dot{
                display: none;
            }
            .item{
                margin-top:2.5px;
                margin-bottom:2.5px;
            }
            footer {
                position: fixed;
                height: 100px;
                bottom: 0;
                width: 100%;
            }
            .fa-heart-o {
                color: red;
                cursor: pointer;
            }
            .fa-heart {
                color: red;
                cursor: pointer;
            }
            .form-control:focus{
                border-color:#15B7B9;
                box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(21,183,185,0.6);
            }
            input[type="text"] {
                font-family: monospace;
                font-size: 20px;
                color: peru;
            }
            ::-webkit-input-placeholder {
                color: peachpuff;
                font-size: 12px;
            }
            ::-moz-placeholder {
                color: peachpuff;
                font-size: 12px;
            }
            :-ms-input-placeholder {
                color: peachpuff;
                font-size: 12px;
            }
            ::placeholder {
                color: peachpuff;
                font-size: 12px;
            }
        </style>
    </head>
    
    <body>
        <nav class="navbar navbar-light bg-light" style="background-color: #15B7B9!important; margin-bottom: 1px;">
            <a class="navbar-brand" style="color:white;">WITHME</a>
            <a class="form-inline" href="{{ url_for('home') }}" style="color:white; cursor:pointer;"><i class="mr-sm-2" data-feather="arrow-left"></i></a>
        </nav>
        <div class="text-center mb-2">
            <img src="./static/img/bookmark.png" class="p-1 crown mx-auto d-block" style="height: 5em; padding: 0;" alt="">
            <strong>참가하신 파티 목록입니다.</strong>
        </div>
        <!-- Board LIST -->
        <div class="refresh-pos animated fadeIn" id='pulldown'>
            {% for i in range(board|length) %}
            {% set count = namespace(value=0) %}
            {% set count2 = namespace(value=0) %}
            <div class="owl-carousel">
                <div class="card item ml-1 mr-1">
                    <div class="card-header md-5">
                        <strong class="card-header2">{{ board[i].title }}</strong>
                        <p class="card-text float-right">
                            <small class="text-muted">
                                {% if date[0][i*2] == 0 %}
                                    {% if date[0][i*2+1] < 3600 %}
                                    Last updated {{(date[0][i*2+1]/60)|int}}mins ago
                                    {% elif date[0][i*2+1] >= 3600 %}
                                    Last updated {{(date[0][i*2+1]/3600)|int}}hours ago
                                    {% endif %}
                                {% elif date[0][i*2] >=1 %}
                                Last updated {{date[0][i*2]}}days ago
                                {% endif %}

                                {% if board[i].writer == username %}
                                <span><i type="button" style="color:red; font-size: large;" class="board_delete{{board[i].inx}} fa fa-trash" aria-hidden="true"></i></span>
                                {% endif %}
                            </small>
                        </p>
                    </div>
                    <script>
                        $('.board_delete{{ board[i].inx }}').click( function() {
                        $.ajax({
                            type : 'POST',
                            url : '/board_delete',
                            data : {
                                'index_board': "{{ board[i].inx }}"
                            },
                            dataType : 'JSON',
                        }).done(function(data){
                            if(data['state'] == 'done'){
                                location.reload();
                            }
                        });
                    });
                    </script>

                    <div class="card-body">
                        <p class="card-text card-text2">{{ board[i].content }}</p>

                        <div class="align-items-center float-left">
                            <small class="text-muted">{{ (board[i].start_time|string)[:-3] }}</small>
                            <small class="text-muted">~</small>
                            <small class="text-muted">{{ (board[i].end_time|string)[:-3] }}</small>
                        </div>

                        <div class="float-right">
                            <i style="color:#15B7B9" class="fa fa-comments-o float-right;" aria-hidden="true">
                                <span style="font-size: 15px;">
                                    {% for k in range(comment|length) %}
                                        {% if board[i].inx == comment[k].inx %}
                                            {% set count2.value = count2.value + 1 %}
                                        {% endif %}
                                    {% endfor %}
                                    {{count2.value}}
                                </span>
                            </i>
                        </div>   
                    </div>

                    <div class="card-footer bg-transparent">
                        <div class="text-center">
                            {% if btn_show[i] == 1 %}
                            <button id="cancel_entry{{ board[i].inx }}-1" type="button" class="cancel_entry{{ board[i].inx }} btn btn-sm btn-outline-danger">참가 취소</button>
                            <button id="entry{{ board[i].inx }}-1" style="display: none;" type="button" class="entry{{ board[i].inx }} btn btn-sm btn-outline-success">참가 <span class="badge badge-success"><span id="badge{{ board[i].inx }}">{{ current_entry[i] }}</span>/{{ board[i].max_count }}</span></button>
                            {% elif btn_show[i] == 0 %}
                            <button id="entry{{ board[i].inx }}-1" type="button" class="entry{{ board[i].inx }} btn btn-sm btn-outline-success">참가 <span class="badge badge-success"><span id="badge{{ board[i].inx }}">{{ current_entry[i] }}</span>/{{ board[i].max_count }}</span></button>
                            <button id="cancel_entry{{ board[i].inx }}-1" style="display: none;" type="button" class="cancel_entry{{ board[i].inx }} btn btn-sm btn-outline-danger">참가 취소</button>
                            {% endif %}
                            <script>
                                $('.cancel_entry{{ board[i].inx }}').click( function() {
                                    $.ajax({
                                        type : 'POST',
                                        url : '/cancel_entry',
                                        data : {
                                            'index_board': "{{ board[i].inx }}"
                                        },
                                        dataType : 'JSON',
                                    }).done(function(data){
                                        if(data['state'] == 'done'){
                                            $('#badge{{ board[i].inx }}').text(parseInt($('#badge{{ board[i].inx }}').text())-1);
                                            document.getElementById("cancel_entry{{ board[i].inx }}-1").style.display = "none";
                                            document.getElementById("entry{{ board[i].inx }}-1").style.display = "inline";
                                        }else{
                                            console.log('');
                                        }
                                    })
                                });
                                $('.entry{{ board[i].inx }}').click( function() {
                                    $.ajax({
                                        type : 'POST',
                                        url : '/entry',
                                        data : {
                                            'index_board': "{{ board[i].inx }}"
                                        },
                                        dataType : 'JSON',
                                    }).done(function(data){
                                        if(data['state'] == 'done'){
                                            $('#badge{{ board[i].inx }}').text(parseInt($('#badge{{ board[i].inx }}').text())+1);
                                            document.getElementById("cancel_entry{{ board[i].inx }}-1").style.display = "inline";
                                            document.getElementById("entry{{ board[i].inx }}-1").style.display = "none";
                                        }else{
                                            console.log('');
                                        }
                                    })
                                });
                            </script>
                        </div>
                    </div>
                </div>
                <div class="card item ml-1 mr-1">
                    <div class="card-header md-5">
                        <strong class="card-header1">
                            {{ board[i].title }}
                        </strong>
                    </div>

                    <ul class="list-group list-group-flush list-group{{board[i].inx}}">
                        {% if i < (board|length) %}
                            {% set count3 = namespace(value = 0) %}
                            {% set count4 = namespace(value = 0) %}
                            {% for j in range(comment|length) %}
                                {% if board[i].inx == comment[j].inx %}
                        <li class="list-group-item">
                                    {% if comment[j].active == 1 %}
                            <span class="badge badge-primary">글쓴이</span>
                                    {% elif comment[j].active == 0 %}
                            <span class="badge badge-success">참여자</span>
                                    {% elif comment[j].active == -1 %}
                            <span class="badge badge-secondary">미참여자</span>
                                    {% endif %}

                            <p>{{comment[j].comment_content}}</p>
                            <small class="text-muted float-right">
                                {% if date[1][j*2] == 0 %}
                                    {% if date[1][j*2+1] < 3600 %}
                                Last updated {{(date[1][j*2+1]/60)|int}}mins ago
                                    {% elif date[1][j*2+1] >= 3600 %}
                                Last updated {{(date[1][j*2+1]/3600)|int}}hours ago
                                    {% endif %}
                                {% elif date[1][j*2] >=1 %}
                                Last updated {{date[1][j*2]}}days ago
                                {% endif %}
                            </small>
                            {% else %}
                                {% set count3.value = count3.value + 1 %}
                            {% endif %}
                        </li>
                            {% if count4.value == (comment|length) - count3.value %}
                        <li class="list-group-item text-center"><small class="text-muted text-center mb-1 mt-1"><strong>아직 댓글이 없어요..</strong></small></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    </ul>

                    <div class="input-group">
                        <input maxlength="150" id="comment{{ board[i].inx }}" type="text" class="form-control form-control-sm" placeholder="댓글을 입력하세요." aria-describedby="button-comment-send">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-outline-primary comment_btn{{ board[i].inx }}" type="button" id="button-comment-send"><i class="fa fa-send"></i></button>
                        </div>
                    </div>
                    <script>
                        $('.comment_btn{{ board[i].inx }}').click( function() {
                            var comment_text = $('#comment{{ board[i].inx }}').val();
                            if(comment_text.replace(' ', '').length != 0){
                                $.ajax({
                                    type : 'POST',
                                    url : '/write_comment',
                                    data : {
                                        'comment': comment_text,
                                        'index_comment' : "{{ board[i].inx }}"
                                    },
                                    dataType : 'JSON',
                                    success : function(result){
                                        $('#comment{{ board[i].inx }}').val('');
                                    },
                                    error  : function(){
                                        console.log('Error..')
                                    }
                                }).done(function(data){
                                    var who = '';
                                    var category = '';
                                    who = 'New';
                                    category = 'secondary';
                                    var content = "<li style='display:inline; height:auto;' class='list-group-item'><span class='badge badge-"+category+"'>"+who+"</span><small class='text-muted float-right'>Now</small><p>"+data['msg']+"</p></li>";
                                    $('.list-group{{ board[i].inx }}').append(content);

                                    $('.owl-carousel').trigger('refresh.owl.carousel');
                                });
                            }
                        });
                    </script>
                </div>
            </div>
            {% endfor %}
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <!-- Optional JavaScript -->
        <script>
            $('.owl-carousel').owlCarousel({
                margin:0,
                nav:false,
                touchDrag:true,
                mouseDrag:true,
                autowidth:true,
                autoHeight:true,
                responsive:{
                    0:{
                        items:1
                    }
                }
            });
        </script>

        <!-- https://makitweb.com/pull-down-to-refresh-with-pulltorefresh-js/ -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pulltorefreshjs/0.1.20/index.umd.min.js" type="text/javascript"></script>
        <script type='text/javascript'>
            PullToRefresh.init({
                mainElement: '.refresh-pos',
                triggerElement: '#pulldown',
                instructionsPullToRefresh: '당겨서',
                instructionsReleaseToRefresh: '놓으면',
                instructionsRefreshing: '슝~',
                onRefresh: function(){ window.location.reload(); }
            });
        </script>

        <!-- Optional JavaScript -->
        <script>
            feather.replace()
        </script>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
