<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158084303-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-158084303-1');
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- feathericons -->
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <!-- fullpage -->
    <link rel="stylesheet" href="../static/css/jquery.fullpage.min.css">
    <!-- Favicons -->
    <link rel="shortcut icon" href="./static/img/favicon.ico">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.fullpage.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.fullpage.extensions.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <!-- owlCarousel2 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    
    <title>WITHME</title>
    <style>
      *{
        font-family: 'Noto Sans KR', sans-serif;
      }
      #header{
        top:0px;
      }
      #footer{
        bottom:0px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: rgba(0,0,0,0.0);">
      <a style="color:#f5f5f5" class="navbar-brand" href="#">WITHME</a>
      <a class="navbar-text" style="color:#f5f5f5; text-decoration:none" href="http://www.withme.xyz/">로그인</a>
    </nav>

    <div id="fullpage">
      <div class="section text-center">
        <div class="text-center">
          <img width="300px" src="../static/img/logo_info.png" alt="">
        </div>
        <p style="font-size: 1.5em; color: #f5f5f5;">
          <strong class="animated fadeIn delay-1s">호서대학교</strong></br>
          <strong class="animated fadeIn delay-2s">익명 파티 찾기 WITHME</strong></br>
          <small class="animated fadeIn slow" style="font-size: 12px;">© 2020. WITHME . Developed by Team . AKK</small></br>
        </p>
        <div class="fixed-bottom text-center pb-3 animated pulse infinite" style="color: #f5f5f5;">
          <span stlye="font-size: 1em">scroll</span></br>
          <i style="font-size: 2em;" class="fa fa-chevron-down"></i>
        </div>
      </div>

      <div class="section text-center">
        <h1 id="content1" class="animated" style="font-size: 36px; color: #f5f5f5;">익명 파티 구하기<br> WITHME에 오신걸 <br>환영합니다.</h1>
        <p id="content2" class="animated" style="font-size: 15px; color: #f5f5f5;">혼자하기 싫은 것들을 다른 사람들과 함께 해보세요!
          WITHME에서는 익명이 보장되며 사용에있어 간편함을 최우선하였습니다.
        </p>
      </div>

      <div class="section text-center">
        <h2 class="mt-5" style="font-size: 20px; color: #f5f5f5;">파티게시판 <sup><i style="color: #f5f5f5;" data-feather="check-square"></i></sup></h2>
        <p style="font-size: 15px; color: #f5f5f5;">
          여러분들이 하고싶은 일을 다른 사람과 해보세요!</br>
          참가 버튼을 통해 파티에 참여할 수 있으며,</br>
          원하시는 파티를 검색할 수 있습니다.
        </p>
        <p style="font-size: 15px; color: #f5f5f5;">
          게시글을 <strong><u>아래쪽으로 당기면</u></strong> 새로고침이 됩니다.</br>
        </p>
        <p style="font-size: 15px; color: #f5f5f5;">
          게시글을 <strong><u>왼쪽으로 밀면</u></strong> 댓글을 볼 수 있습니다.</br>
          <small>게시글은 마감시간이 있으니 이 점 유의하시고 파티를 구해보세요.</small>
        </p>
        <div id="content3" class="owl-carousel text-center mt-3 animated">
          <div class="item">
            <img class="item" style="margin: auto;width: 190px;" src="../static/img/content1.png" alt="">
          </div>
          <div class="item">
            <img class="item" style="margin: auto;width: 190px;" src="../static/img/content2.png" alt="">
          </div>
        </div>
      </div>

      <div class="section text-center">
        <h2 class="mt-5" style="font-size: 20px; color: #f5f5f5;">자유게시판 <sup><i style="color: #f5f5f5;" data-feather="message-circle"></i></sup></h2>
        <p style="font-size: 15px; color: #f5f5f5;">
          익명으로 자신이 하고싶은 말을 적어보세요!</br>
          WITHME 자유게시판은 익명이 보장됩니다.</br>
          <small>참가버튼을 눌러 해당 파티에 참여 할 수 있으며,</br>
            원하시는 파티를 검색할 수 있습니다.
          </small>
        </p>
        <p style="font-size: 15px; color: #f5f5f5;">
          게시판 글에 공감이 가면 옆에 &#128151;를 눌러주세요.</br>
          <small>이 하트가 많을수록 해당 글은 랭킹에 올라가게 됩니다.</small>
        </p>
        <div id="content4" class="text-center mt-5 animated">
          <img class="item" style="margin: auto;width: 190px;" src="../static/img/content3.png" alt="">
        </div>
      </div>

      <div class="section text-center">
        <h2 class="mt-5" style="font-size: 20px; color: #f5f5f5;">북마크 <sup><i style="color: #f5f5f5;" data-feather="bookmark"></i></sup></h2>
        <p style="font-size: 15px; color: #f5f5f5;">
          자신이 참가한 파티게시판의 글을 볼 수 있습니다.</br>
          <small>
            내가 참가한 파티가 무엇인지, </br>
            어떤 댓글이 달렸는지 간편하게 볼 수 있습니다.
          </small>
        </p>
        <p style="font-size: 15px; color: #f5f5f5;">
          게시글을 <strong><u>아래쪽으로 당기면</u></strong> 새로고침이 됩니다.</br>
        </p>
        <p style="font-size: 15px; color: #f5f5f5;">
          <small>북마크에서도 게시글을 <strong><u>왼쪽으로 밀면</u></strong> 댓글을 볼 수 있습니다.</small>
        </p>
        <div id="content5" class="text-center mt-5 animated">
          <img class="item" style="margin: auto;width: 190px;" src="../static/img/content4.png" alt="">
        </div>
      </div>

      <div class="section text-center">
        <h2 class="mt-5" style="font-size: 20px; color: #f5f5f5;">랭킹 <sup><i style="color: #f5f5f5;" data-feather="award"></i></sup></h2>
        <p style="font-size: 15px; color: #f5f5f5;">
          이번 주 가장 인기가 많은 글을 볼 수 있습니다.</br>
          과연 이번 주 최고의 게시글은 무엇인지 확인해보세요 !
        </p>
        <div id="content6" class="text-center mt-5 animated">
          <img class="item" style="margin: auto;width: 190px;" src="../static/img/content5.png" alt="">
        </div>
      </div>

      <div class="section text-center">
        <h2 class="mt-5" style="font-size: 20px; color: #f5f5f5;">마이페이지 <sup><i style="color: #f5f5f5;" data-feather="user"></i></sup></h2>
        <p style="font-size: 15px; color: #f5f5f5;">
          자신이 가입한 정보를 볼 수 있습니다.</br>
          <small>비밀번호 변경과 계정 삭제 로그아웃이 있으며,</br>
          계정 삭제 시 바로 삭제되는 점 유의해주세요 ! !
          </small>
        </p>
        <div id="content7" class="text-center mt-5 animated">
          <img class="item" style="margin: auto;width: 190px;" src="../static/img/content6.png" alt="">
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function() {
        $('#fullpage').fullpage({
          //options here
          autoScrolling:true,
          scrollHorizontally: true,
          verticalCentered: true,
          sectionsColor : ['#15B7B9', '#15B7B9', '#15B7B9', '#15B7B9', '#15B7B9', '#15B7B9', '#15B7B9'],
          css:true,
          anchors: ['page1', 'page2', 'page3', 'page4', 'page5', 'page6', 'page7'],

          onLeave: function(index, nextIndex, direction) {
            if(index ==1 && direction == 'down')
            {
              $('#content1').removeClass('slideOutLeft').addClass('slideInLeft');
              $('#content2').removeClass('slideOutRight').addClass('slideInRight');
            }
            else if(index == 2 && direction == 'up'){
              $('#content1').removeClass('slideInLeft').addClass('slideOutLeft');
              $('#content2').removeClass('slideInRight').addClass('slideOutRight');
            }
            else if(index == 2 && direction =='down'){
              $('#content1').addClass('slideOutLeft');
              $('#content2').addClass('slideOutRight');

              $('#content3').removeClass('slideInDown').addClass('slideInUp');
            }
            else if(index == 3 && direction =='up'){
              $('#content1').removeClass('slideOutLeft');
              $('#content2').removeClass('slideOutRight');
              $('#content3').removeClass('slideInUp').removeClass('fadeOutUp');
            }
            else if(index == 3 && direction =='down'){
              $('#content3').removeClass('slideInUp').addClass('fadeOutUp');
              $('#content3').removeClass('slideInDown');
              $('#content4').removeClass('fadeOutUp').addClass('slideInUp');
            }
            else if(index == 4 && direction == 'up'){
              $('#content3').removeClass('slideInUp').addClass('slideInDown');
              $('#content4').removeClass('slideInUp');
              $('#content4').removeClass('slideInDown');
            }
            else if(index == 4 && direction == 'down'){
              $('#content4').removeClass('slideInUp').addClass('fadeOutUp');
              $('#content4').removeClass('slideInDown');

              $('#content5').removeClass('slideInDown').removeClass('fadeOutUp').addClass('slideInUp');
            }
            else if(index == 5 && direction == 'up'){
              $('#content4').removeClass('fadeOutUp').addClass('slideInDown');
              $('#content5').removeClass('slideInUp');
            }
            else if(index == 5 && direction == 'down'){
              $('#content5').removeClass('slideInUp').removeClass('slideInDown').addClass('fadeOutUp');
              $('#content6').removeClass('slideInDown').removeClass('fadeOutUp').addClass('slideInUp');
            }
            else if(index == 6 && direction == 'up'){
              $('#content5').removeClass('fadeOutUp').addClass('slideInDown');
              $('#content6').removeClass('slideInUp');
            }
            else if(index == 6 && direction == 'down'){
              $('#content6').removeClass('slideInUp').removeClass('slideInDown').addClass('fadeOutUp');
              $('#content7').removeClass('slideInDown').removeClass('fadeOutUp').addClass('slideInUp');
            }
            else if(index == 7 && direction == 'up'){
              $('#content6').removeClass('fadeOutUp').addClass('slideInDown');
              $('#content7').removeClass('slideInUp');
            }
          }
        });
      });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script type="application/javascript">
      $('.owl-carousel').owlCarousel({
          loop:true,
          nav:false,
          responsive:{
              0:{
                  items:1
              }
          },
          mouseDrag: false,
          touchDrag: false,
          autoplay:true,
          autoplayTimeout:2000,
          autoplayHoverPause:true,
          animateOut: 'fadeOut'
      });
    </script>
    
    <script>
      feather.replace()
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>